<div class="power-card">
    <div class="power-name">
        {{name}}
    </div>
    <div class="meta-list">
        <div class="physical-meta">
            {{data.metas.physical}}
        </div>
        <div class="mental-meta">
            {{data.metas.mental}}
        </div>
        <div class="spiritual-meta">
            {{data.metas.spiritual}}
        </div>
    </div>
</div>
<div class="power-description">
    {{data.description}}
</div>