<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="meta-select">
        <table>
            <tr>
                <th>{{localize "rgs3.trait.physical"}}</th>
                <th>{{localize "rgs3.trait.mental"}}</th>
                <th>{{localize "rgs3.trait.spiritual"}}</th>
            </tr>
            <td>
                <select name="data.metas.physical">
                    {{#select data.metas.physical}}
                    {{#each config.metaNames as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <select name="data.metas.mental">
                    {{#select data.metas.mental}}
                    {{#each config.metaNames as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <select name="data.metas.spiritual">
                    {{#select data.metas.spiritual}}
                    {{#each config.metaNames as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
        </table>
    </div>
    <div class="power-description">
        <textarea>{{data.description}}</textarea>
    </div>
    <div class="power-bonuses">
        <label for="data.equipmentBonus">{{localize "rgs3.weapon.equipBonus"}}</label>
        <input name="data.equipmentBonus" type="text" value="{{data.equipmentBonus}}" />
        <label for="data.rankBonus">{{localize "rgs3.weapon.rank"}}</label>
        <input name="data.rankBonus" type="text" value="{{data.rankBonus}}" />
    </div>
    <div class="effect-list">
        <header class="effects-header flexrow">
            <span class="effect-key">{{localize "rgs3.powerEffects.effectKey"}}</span>
            <span class="effect-label">{{localize "rgs3.powerEffects.effectLabel"}}</span>
            <span class="effect-value">{{localize "rgs3.powerEffects.effectValue"}}</span>
            <a class="effect-create"><i class="fas fa-plus"></i></a>
        </header>
    </div>
</form>