<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" />
            </h1>
            <div class="resources">
                <div class="resource">
                    <label for="data.wounds.value">{{localize "rgs3.mainStats.wounds"}}</label>
                    <span>{{data.wounds.value}}</span>
                </div>
                <div class="resource">
                    <label for="data.wounds.max">{{localize "rgs3.mainStats.effHP"}}</label>
                    <span>{{data.wounds.max}}</span>
                </div>
                <div class="resource">
                    <label for="data.totalLevel">{{localize "rgs3.mainStats.lvl"}}</label>
                    <input name="data.totalLevel" type="text" value="{{data.totalLevel}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label for="data.destiny">{{localize "rgs3.mainStats.destiny"}}</label>
                    <span>{{data.destiny}}</span>
                </div>
                <div class="resource">
                    <label for="data.boundEssence">{{localize "rgs3.mainStats.essence"}}</label>
                    <span>{{data.boundEssence}}</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="charInfo">Character Info</a>
        <a class="item" data-tab="actives">Active Powers</a>
        <a class="item" data-tab="socials">Social Powers</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="passives">Passive Powers</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="actions">Actions</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Info Tab--}}
        <div class="tab charInfo" data-group="primary" data-tab="charInfo">
            <div class="minor-stats">
                <label for="data.move">{{localize "rgs3.charStats.move"}}: </label>
                <span>{{data.move}}</span>
                <label for="data.size">{{localize "rgs3.charStats.size"}}:</label>
                <span>{{data.size}}</span>
            </div>
            <label for="data.characterInfo.characteristics">{{localize "rgs3.charStats.characteristics"}}:</label>
            <textarea name="data.characterInfo.characteristics" rows="4">{{data.characterInfo.characteristics}}</textarea>
            <label for="data.characterInfo.lifepaths">{{localize "rgs3.charStats.lifepaths"}}:</label>
            <textarea name="data.characterInfo.lifepaths" rows="3">{{data.characterInfo.lifepaths}}</textarea>
            <label for="data.notes">{{localize "rgs3.charStats.charNotes"}}</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

        {{!-- Active Powers Tab--}}
        <div class="tab actives" data-group="primary" data-tab="actives">
            <div class="rune-grid">
                <div align="center">Image</div>
                <div>Power Description</div>

                {{#each activesToDisplay as |item|}}
                <div class="rune-img">
                    <img src="/systems/rgs3/images/runes/{{item.data.rune.symbol}}.jpg" title="{{item.data.rune.symbol}}" height="70" width="50" />
                </div>
                <div>
                    {{> "systems/rgs3/templates/partials/power-card.hbs"}}
                </div>
                {{/each}}
            </div>
            <div class="unbound-section">
                <select name="data.selectedValues.selectedActivePower">
                {{#select data.selectedValues.selectedActivePower}}
                {{#each actives as |active id|}}
                <option value="{{active._id}}">{{active.name}}</option>
                {{/each}}
                {{/select}}
                </select>
                <select name="data.selectedValues.selectedActiveRune">
                {{#select data.selectedValues.selectedActiveRune}}
                {{#each unboundActiveRunes as |rune|}}
                <option value="{{rune.symbol}}">{{rune.symbol}}</option>
                {{/each}}
                {{/select}}
                </select>
                <a class="active-bind"><i class="fas fa-lock-open"></i></a>
            </div>
        </div>

        {{!-- Social Powers Tab--}}
        <div class="tab socials" data-group="primary" data-tab="socials">
            <div class="rune-grid">
                <div align="center">Image</div>
                <div>Power Description</div>

                {{#each socialsToDisplay as |item|}}
                <div class="rune-img">
                    <img src="/systems/rgs3/images/runes/{{item.data.rune.symbol}}.jpg" title="{{item.data.rune.symbol}}" height="70" width="50" />
                </div>
                <div>
                    {{> "systems/rgs3/templates/partials/power-card.hbs"}}
                </div>
                {{/each}}
            </div>
            <div class="unbound-section">
                <select name="data.selectedValues.selectedSocialPower">
                {{#select data.selectedValues.selectedSocialPower}}
                {{#each socials as |social id|}}
                <option value="{{social._id}}">{{social.name}}</option>
                {{/each}}
                {{/select}}
                </select>
                <select name="data.selectedValues.selectedSocialRune">
                {{#select data.selectedValues.selectedSocialRune}}
                {{#each unboundSocialRunes as |rune|}}
                <option value="{{rune.symbol}}">{{rune.symbol}}</option>
                {{/each}}
                {{/select}}
                </select>
                <a class="social-bind"><i class="fas fa-lock-open"></i></a>
            </div>
        </div>

        {{!-- Skills Tab--}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="rune-grid">
                <div align="center">Image</div>
                <div>Power Description</div>

                {{#each skillsToDisplay as |item|}}
                <div class="rune-img">
                    <img src="/systems/rgs3/images/runes/{{item.data.rune.symbol}}.jpg" title="{{item.data.rune.symbol}}" height="70" width="50" />
                </div>
                <div>
                    {{> "systems/rgs3/templates/partials/power-card.hbs"}}
                </div>
                {{/each}}
            </div>
            <div class="unbound-section">
                <select name="data.selectedValues.selectedSkillPower">
                {{#select data.selectedValues.selectedSkillPower}}
                {{#each skills as |skill id|}}
                <option value="{{skill._id}}">{{skill.name}}</option>
                {{/each}}
                {{/select}}
                </select>
                <select name="data.selectedValues.selectedSkillRune">
                {{#select data.selectedValues.selectedSkillRune}}
                {{#each unboundSkillRunes as |rune|}}
                <option value="{{rune.symbol}}">{{rune.symbol}}</option>
                {{/each}}
                {{/select}}
                </select>
                <a class="skill-bind"><i class="fas fa-lock-open"></i></a>
            </div>
        </div>

        {{!-- Passive Powers Tab--}}
        <div class="tab passives" data-group="primary" data-tab="passives">
            <div class="rune-grid">
                <div align="center">Image</div>
                <div>Power Description</div>

                {{#each passivesToDisplay as |item|}}
                <div class="rune-img">
                    <img src="/systems/rgs3/images/runes/{{item.data.rune.symbol}}.jpg" title="{{item.data.rune.symbol}}" height="70" width="50" />
                </div>
                <div>
                    {{> "systems/rgs3/templates/partials/passive-card.hbs"}}
                </div>
                {{/each}}
            </div>
            <div class="unbound-section">
                <select name="data.selectedValues.selectedPassivePower">
                {{#select data.selectedValues.selectedPassivePower}}
                {{#each passives as |passive id|}}
                <option value="{{passive._id}}">{{passive.name}}</option>
                {{/each}}
                {{/select}}
                </select>
                <select name="data.selectedValues.selectedPassiveRune">
                {{#select data.selectedValues.selectedPassiveRune}}
                {{#each unboundPassiveRunes as |rune|}}
                <option value="{{rune.symbol}}">{{rune.symbol}}</option>
                {{/each}}
                {{/select}}
                </select>
                <a class="passive-bind"><i class="fas fa-lock-open"></i></a>
            </div>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <p>Equipement Tab</p>
        </div>

        {{!-- Action Tab--}}
        <div class="tab actions" data-group="primary" data-tab="actions">
            <p>Action Jackson</p>
        </div>

    </section>
</form>