<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="power-description">
        <textarea>{{data.description}}</textarea>
    </div>
    <div class="effect-list">
        <header class="effects-header flexrow">
            <span class="effect-key">{{localize "rgs3.powerEffects.effectKey"}}</span>
            <span class="effect-label">{{localize "rgs3.powerEffects.effectLabel"}}</span>
            <span class="effect-value">{{localize "rgs3.powerEffects.effectValue"}}</span>
            <a class="effect-create"><i class="fas fa-plus"></i></a>
        </header>
    </div>
</form>